:root {
    --color-orange: #CF7438;
    --color-orange-hover: #b7642e;
    --color-Myrtle-Green: #1D302F;
    --color-Celeste: #DBE8E4;
    --color-turquoise: #55BCA1;
    --color-turquoise-hover: #449e86;

    --color-silver: #F2FFFC;
    --color-jet: #282A29;
    --color-black: #11221C;
    --color-back: #ECF8F5;
    --color-border: #1d302f3b;
  }

